/* EDIT THESE STYLES FOR YOUR TASKS */

.logo img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.logo:hover img {
  transform: rotate(25deg) scale(1.05);
  transition: transform 1s;
}

.box-3 span {
  background-image: linear-gradient(90deg, red, white, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  transition: background-size 800ms ease;
}

.box-3 span:hover {
  background-size: 100% 3px;
}

.box-4 {
    color: black;
  animation: move-square 2s infinite ease-in-out;
}


@keyframes move-square {
    0% {
      grid-column: 1;
      grid-row: 2;
    }
    50% {
      grid-column: 2;
      grid-row: 2;
    }
 
    100% {
      grid-column: 3;
      grid-row: 2;
    }
  }

  aside span {
    position: fixed;
    height: 150px;
    width: 300px;
    text-align: center;
    bottom: 20px;
    right: -300px; 
    background-color: aquamarine; 
    color: black;
    padding: 30px;
    border-radius: 5px;
    font-size: 16px;
    animation: slideIn 10s ease-in-out infinite, fadeInOut 10s ease-in-out infinite;
  }
  
  
  @keyframes slideIn {
    0%, 100% {
      right: -300px; 
      opacity: 1; 
    }
    10% {
      right: 20px; 
      opacity: 1; 
    }
    50% {
      right: 20px; 
      opacity: 1; 
    }
    90% {
      right: 20px; 
      opacity: 1; 
    }
    100% {
      right: -300px; 
      opacity: 1; 
    }
  }
  
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 1; 
    }
  }

  .box-2 {
    background-image: linear-gradient(32deg, red, antiquewhite, blue);
  }


  .box-2:hover {
    animation: changeHue 5s infinite; 
  }
  
  @keyframes changeHue {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg); 
    }
  }

  #grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .center-grid {
    display: grid;
    place-items: center;
  }
  
  .box-1 {
    display: inline-block;
    animation: rotateCircle 10s linear infinite; 
    transform-origin: center;
  }
  
  @keyframes rotateCircle {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  }