/* EDIT THESE STYLES FOR YOUR TASKS */

.logo img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.logo:hover img {
  transform: rotate(25deg) scale(1.05);
  transition: transform 1s;
}

.box-3 span {
  background-image: linear-gradient(90deg, red, white, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  transition: background-size 800ms ease;
}

.box-3 span:hover {
  background-size: 100% 3px;
}

.box-4 {
    color: black;
  animation: move-square 2s infinite ease-in-out;
}


@keyframes move-square {
    0% {
      grid-column: 1;
      grid-row: 2;
    }
    50% {
      grid-column: 2;
      grid-row: 2;
    }
 
    100% {
      grid-column: 3;
      grid-row: 2;
    }
  }